# Task-1: Prediction using Supervised Machine Learning

# Submitted by: VRUSHIT BHARUCHA

# In this regression task we will predict the percentage of marks that a student is expected to score based upon the number of hours they studied. This is a simple linear regression task as it involves just two variables. Data can be found at http://bit.ly/w-dataÂ¶

# Question: What will be predicted score if a student study for 9.25 hrs in a day?

### Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

### Importing CSV File into dataframe as Dataset

In [2]:
df = pd.read_csv('Task1.csv')

### More About Dataset

In [3]:
df.head()

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

In [4]:
df.describe()

           Hours     Scores
count  25.000000  25.000000
mean    5.012000  51.480000
std     2.525094  25.286887
min     1.100000  17.000000
25%     2.700000  30.000000
50%     4.800000  47.000000
75%     7.400000  75.000000
max     9.200000  95.000000

In [5]:
df.isnull().sum()

Hours     0
Scores    0
dtype: int64

In [6]:
df.corr()  #Correlation

           Hours    Scores
Hours   1.000000  0.976191
Scores  0.976191  1.000000